body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3f1d3;
    margin: 0;
    
}

header,main,footer{
    width: 90%;
    margin: 20px auto;
}



#encabezado{
    display: flex;
    border-radius: 5px;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}

#encabezado>h1{

    margin:10px auto;
    font-size: 40px;
    color:#007BFF;
    margin-left: 10px;
    margin-right: 10px;
    
}
#logo{

    width: 45px;
    height: 50px;
   
    margin: 10px auto;
}

#principal{
    
    margin: 10px auto;
    display: flex;
    border-radius: 5px;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    

}

#contenido {

    margin: 10px;
    flex: 2;


}

article {
  
    height: 250px;
    border-radius: 5px;
}


article> p{
    margin: 5px;
}

#entrada{

    width: 100%;
    height: 90%;
}

#input-text{

    width: 100%;
    height: 90%;
    border-radius: 5px;
    text-align: justify;
    resize: none;
    
}

p{
    margin-top:1px;
    width: 100%;
}
#admiracion{

    padding-right: 5px;
}
#botones{

    display: flex;
    margin: 2px;
}
#encriptar{

    flex: 1;
    width: 100%;
    margin: 2px;

}

#desencriptar
{
    flex: 1;
    width: 100%;
    margin: 2px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.buttons button:hover {
    background-color: #0056b3;
}

#resultado{
    
    margin: 10px;
    flex: 1;
   
}
aside{

    height: 100%;
}

#salida{

    width: 100%;
    height: 80%;
   
    
}

#salida>textarea{

    width: 98%;
    height: 100%;
    border-radius: 10px;
    resize: none;
    background-image: url('imagen.png');
    
}



#copy-button {
    border:0px;
    font-size: 16px;
    color:white;
    width: 100%;
    margin-top: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:rgb(42, 46, 243);
    
}

#copy-button:hover {
    background-color: #218838;
}

#pie{
    
    width: 90%;
    margin:10px auto;
    
    text-align: center;
    border-radius: 5px;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        

}

#autor{
    font-size: 20px;
    padding: 20px;
    font-weight: lighter;
    font-style:italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px #f0e21e;
}